img {
	-webkit-user-drag: none;
}

.preview {
  height: 24em;
  padding: 1.5em;
  cursor: pointer;
  will-change: filter;
  transition: 0.75s;
}

.preview:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}
